* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: end;
  align-self: center;
}

#button-password {
  align-items: center;
}


