.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#trybewarts-header-title {
  align-self: center;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: end;
  align-self: center;
}

#button-password {
  align-items: center;
}

nav {
  align-self: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  justify-content: center;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

main {
  display: flex;
  justify-content: space-between;
}

#input-name {
  align-self: flex-start;
}

#input-lastname {
  align-self: flex-end;
}

#input-email {
  align-self: flex-start;
}

#house {
  align-self: flex-end;
}
